html,
body{
    height: 100%;

}

.content{
    max-width: 600px;
    height: 100;
    margin: 0 auto;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.post_form{
    padding: 20px 40px;
    border-bottom: 1px solid #ccc;
}
.post_form input{
    width: 70%;
    margin-bottom: 10px;
    padding:10px ;
    border: 1px solid #ccc;
}
.post_form textarea{
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;

}



.post li {
    position: relative;
    display: flex;
    border-bottom: 1px solid #ccc;
    padding: 20px 40px;
    list-style: none;
}
.posts li .menu_icon{
    width: 20px;
    position: absolute;
    top: -4px;
    right: -503px;
    position: relative;
}
.posts li .menu {
    position: relative;
    top: 40px;
    right: 15px;
    border: 1px solid #ccc;
    background-color: white;
}
.posts li .menu a {
    text-decoration: none;
}
.posts li.logo{
    flex-basis: 15%;
}
.posts li .logo img {
    width: 100px;
    border-radius: 50%;

}
.posts li .name_body{
    flex-basis: 85%;
}
.posts li .name_body.name{
    font-weight: bold;

}
.posts li .name_body.datetime{
    color: gray;
}
@media screen  and (max-width: 500px) {
    .post li  .name_body.name{
        font-size: 20px;
    }
    
}



.content-body{
    display: flex;
    align-items: center;
    gap: 20px;
}
ul{
    list-style: none;
    border-bottom: 1px solid #ccc;
}